@using WebModeloVistacontrolador.Models;
@model List<Enterprise>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Index";
}
<h5 class="card-title">Empresas</h5>

@if(Model.Count !=0){
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Nit</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var e in Model)
      {
      <tr>
      <td>@e.Id </td>
      <td>@e.Name</td>
      <td>@e.Adress</td>
      <td>@e.Nit</td>
      <td><a class="btn btn-primary" asp-area="" asp-controller="Enterprise" asp-action="Update" asp-route-id="@e.Id"
      asp-route-name="@e.Name"
      asp-route-adress="@e.Adress"
      asp-route-nit="@e.Nit"
      > Editar</a></td> 
       <td><a class="btn btn-danger" asp-area="" asp-controller="Enterprise" asp-action="Delete" asp-route-id="@e.Id"
      asp-route-name="@e.Name"
      asp-route-adress="@e.Adress"
      asp-route-nit="@e.Nit"
      > Eliminar</a></td> 
    </tr>
      }
  </tbody>
</table>
<a  class="btn btn-primary" asp-area="" asp-controller="Enterprise" asp-action="Create">Crear Empresa</a>

} else{
      <div class="card">
        <div class="card-body">
            No hay datos.
        </div>
    </div>
    <a  class="btn btn-primary" asp-area="" asp-controller="Enterprise" asp-action="Create">Crear Empresa</a>
}
